
/* Set the Margin of the Wepage to 0  */
* {
    margin: 0;
    padding: 0;

}
/* Header CSS START HERE - Header background Image */
header{
    /* width: 100vw; */
    height: 901px;
    background-image: url('/assets/images/header_background_image.png');
    background-size: cover;
    background-position: top;
}

.firstheader{
    display: flex;
}

/* Logo */
.logomedic{
    color: #0052FF;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 35px;
    
    }
    
    .logolab{
        color: #FFF;
        font-family: Muli;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        margin-top: 35px;
    }

/* Logo Ends Here */


/* Menu Items  */
nav{
    display: flex;
    margin-left: 453px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
nav li{
    list-style: none;
    margin-left: 70px;
    margin-top: 35px;
    color: white;
}

/* Menu Items End Here */

/* The Header Section */
.we{
    color: #FFF;
    font-family: Muli;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 310px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.mdc {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFF;
font-family: Muli;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.hs{
    color: #FFF;
font-family: Muli;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
justify-content: center;
display: flex;
}



.center{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.button1{

    height: 40px;
    width: 140px;
    background-color: #0052FF;
    align-items: center;
    justify-content: center;
    display:flex;
    color: white;
}


/* Header Ends Here */

.section1{
/* margin-left: 100px; */
margin-top: 99px;
margin-bottom: 96px;
display: grid;    
grid-template-columns: repeat(3, 1fr) ;
grid-template-rows: repeat(1) ;
grid-template-areas: 
"box1 box2 box3"
}
    .box1{
    grid-area: box1; 
    

    
    }
    
    .box2{
        grid-area: box2; 
        align-content: center;

        }

        .box3{
            grid-area: box3;
            
            }
         h3{
            text-align: center;
            color: #0052FF;
            text-align: center;
            font-family: Mulish;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
         }       

  
         .section1 p {
            color: #5B5B5B;
            text-align: center;
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }




    



/* Section 2 */
         .section2{
            margin-top: 10px;
            width: 100%;
            height: 752px;
            background: #F9F9F9;

           
             }

             .section2 h3 {
                padding-top: 50px;
                color: #202020;
                font-family: Mulish;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: center;
             }
             .section2 p {
                padding-top: 16px;
                color: #5B5B5B;
                text-align: center;
                font-family: Mulish;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
             }
        .contain1{
        justify-content: center;
        display: flex;
         }

         .contain2 {
            justify-content: center;
            display: flex;
         }

         .rectangle_white{
            margin-left: 20px;
            padding: 20px;
            width: 270px;
            height: 226px;
          border-radius: 10px;
            background:#fff;
            margin-top: 40px;
         }

         .rectangle_blue{
            border-radius: 10px;
            background: #0052FF;
            margin-left: 20px;
            padding: 20px;
            width: 270px;
            height: 226px;
            margin-top: 40px;
         }

         .rectangle_blue img{
         padding-left: 95px;
         padding-right: 95px;
         padding-top: 49px;
         /* padding-bottom: 97px; */
         }

         .rectangle_blue p{
            color: #FFF;
            font-family: Mulish;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-top: 16px;
            margin-top: 16px;
         }

         .rectangle_white img{
            padding-left: 95px;
            padding-right: 95px;
            padding-top: 49px;
            /* padding-bottom: 97px; */
            }
   
            .rectangle_white p{
               color: #0052FF;
               font-family: Mulish;
               font-size: 22px;
               font-style: normal;
               font-weight: 600;
               line-height: normal;
               padding-top: 16px;
               margin-top: 16px;
            }


            /* Section 3 */
            
            .section3{
                margin-top: 50px;
                width: 100%;
                height: 752px;
                background:white;
               

            }

            .section3 h3 {
                margin-top: 50px;
                color: #3A3A3A;
                font-family: Mulish;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }


            .section3-1{
                display: flex;
                justify-content: center;
                margin-left: 118px;
                margin-right: 121px;
                margin-top: 50px;
            }


            .section3-1 p {
                color: #0052FF;
                font-family: Mulish;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 34px;
                padding-top: 25px;
            }

            .section3-1 span {
                color: rgba(58, 58, 58, 0.50);
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 34px;
                padding-top: 19px;
            }


            .section3-1 ul {
                padding-top: 34px;
                margin-left: 34px;

            }

            .section3-1 ul li {
                list-style: none;
                padding-top: 13px;
            }
           


            .section3rectangle1{
                border-radius: 10px;
                border: 2px solid rgba(0, 82, 255, 0.50);
                background: #FFF;
                width: 373px;
                height: 481px;

            }
            .section3rectangle2{
                border-radius: 10px;
                border: 2px solid rgba(0, 82, 255, 0.50);
                background: #FFF;
                width: 373px;
                height: 481px;
                margin-left: 42px;


               
            }

            .section3rectangle3{
                border-radius: 10px;
                border: 2px solid #FFF;
                background: #0052FF;
                width: 373px;
                height: 481px;
                margin-left: 42px; 
            }

            .section3img{
                margin-left: 32px;
                margin-top: 39px;
            }

            .section3rectangle3 p {
                color: #FFF;
                font-family: Mulish;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 34px;
                padding-top: 25px;
            }

            .section3rectangle3 span {
                color: #FFF;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 34px;
                padding-top: 19px;
            }


            .section3rectangle3 ul {
                padding-top: 34px;
                margin-left: 34px;

            }

            .section3rectangle3 ul li {
                list-style: none;
                padding-top: 13px;
            }

            /* Section 4 */
            .section4{
                width: 100%;
                height: 762px;
                background: #F9F9F9; 

            }
            .section4 h3 {
                color: #3A3A3A;
                font-family: Mulish;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-top: 50px;

            }

            .section4container{
                   display:flex;
                justify-content: center;

                
    
            }

            .container4left{
                margin-left: 100px;
                margin-top: 50px;

            }

            .faqrectangle {
                margin-top: 32px;
                width: 614px;
                height: 80px;
                border-radius: 10px;
                border: 1px solid rgba(0, 82, 255, 0.50);
                background: #FFF;
            }


            .faqrectangle h4 {
                color: #0052FF;
                font-family: Mulish;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-left: 36px;
                padding-top: 26px;

            }

            .container4left p{
                color: rgba(58, 58, 58, 0.50);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 150% */
                width: 548px;
                padding-left: 34px;
                padding-top: 16px;
            }
            

            .container4right{
                padding-top: 50x;
                margin-left: 90px;
                margin-right: 100px;
                object-position: right;
            }

            .container4button{
                margin-top: 30px;
                align-items: center;
                gap: 10px;
                background: #0052FF;
                width: 167px;
                height: 50px;
            }

            .container4button p{
                color: #FFF;
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }